<!-- Aquí se debe definir los estilos CSS --> 
a{
	color: black;
}

body{
	background-color: black;
}

p{
	text-transform: uppercase;
	color: Lime;
}
h1{
	text-align: center;
	text-transform: uppercase;
	color: Lime;
}
